#turn {
    width: 62.5%;
    margin: auto;
   
}

.imgs {
    /*設定圖片比列(2:1)*/
    width: 94%;
    height: 0;
    padding-bottom: 47%;
    position: relative;
    overflow: hidden;
    border: 2rem solid #fff;
    min-width: 40rem;
    border-radius: 20px;
}

#slider {
    width: 600%;
    /*6張的寬度*/
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*新技術喔，重要*/
}

#slider img {
    width: 100%;
}

.prev,
.next {
    /*按鈕樣式*/
    position: absolute;
    top: 44%;
    font-size: 2.4rem;
    color: #ddd;
    background-color: #239be770;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.prev {
    border-radius: 0 1.2rem 1.2rem 0;
}

.next {
    right: 0px;
    border-radius: 1.2rem 0px 0px 1.2rem;
}

.tag {
    width: 20%;
    height: 4rem;
    margin: 1rem 42%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.rad {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #888;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.point {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    border-radius: 50%;
    background-color: #aaa;
    left: 0.2rem;
    top: 0.2rem;
}